IMAGE_SERVICE_PORT=8083
LOG_JSON_ENABLED=false
METRICS_PROMETHEUS_ENABLED=true

MYSQL_USERNAME=root
MYSQL_PASSWORD=change-me
IMAGE_MYSQL_JDBC_URL=jdbc:mysql://localhost:3307/image?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
IMAGE_DB_GENERATION=update
IMAGE_DB_LOG_SQL=false

IMAGE_UPLOADS_DIR=target/uploads
IMAGE_MAX_BODY_SIZE=10M
IMAGE_LOCAL_STORAGE_DIR=target/uploads/public
IMAGE_PUBLIC_BASE_URL=http://localhost:8083

CLOUDINARY_CLOUD_NAME=change-me
CLOUDINARY_API_KEY=change-me
CLOUDINARY_API_SECRET=change-me
CLOUDINARY_FOLDER=javanc
