PROJECT_SERVICE_PORT=8086
MYSQL_USERNAME=root
MYSQL_PASSWORD=change-me
PROJECT_MYSQL_JDBC_URL=jdbc:mysql://localhost:3306/project1?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
PROJECT_DB_GENERATION=update
PROJECT_DB_LOG_SQL=false
USER_SERVICE_URL=http://localhost:8088
IMAGE_SERVICE_URL=http://localhost:8083
PROFILE_SERVICE_URL=http://localhost:8085
NOTIFICATION_SERVICE_URL=http://localhost:8084
MESSAGING_ENABLED=true
OUTBOX_PUBLISHER_ENABLED=true
OUTBOX_BATCH_SIZE=25
OUTBOX_MAX_ATTEMPTS=5
OUTBOX_POLL_INTERVAL=10s
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_DEV_SERVICES_ENABLED=false
KAFKA_PROJECT_EVENTS_TOPIC=javanc.project.events
KAFKA_NOTIFICATION_COMMANDS_TOPIC=javanc.notification.commands
